# Ignore everything...
*

# ...except:

# This project
!README.md
!.gitconfig
!.gitignore

# Config in general...
!.config/
.config/*

# Bash
!.bashrc

# Npm
!.npmrc
!.npm-packages/
.npm-packages/*
!.npm-packages/.keep

# X
!.Xresources
!.xinitrc
!.Xcolorscheme
!.config/Xcolorschemes/
!.config/Xcolorschemes/*

# vim
!.vimrc
!.vim/
.vim/*
!.vim/bundles
!.vim/ignores

# TTYtter
!.ttytterrc
!.ttytter/
.ttytter/*
!.ttytter/PrettyTweets.pl

# Xmonad
!.xmonad/
.xmonad/*
!.xmonad/xmonad.hs
!.xmonad/xmobar.hs
!.xmonad/bin/
!.xmonad/bin/*

