# Ignore everything...
*

# ...except:

# This project
!README.md
!.gitconfig
!.gitignore

# Bash
!.bashrc

# Npm
!.npmrc

# X
!.Xresources

# vim
!.vimrc
!.vim/
.vim/*
!.vim/bundles
!.vim/ignores

# TTYtter
!.ttytterrc
!.ttytter/
.ttytter/*
!.ttytter/PrettyTweets.pl

